html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	text-align: center;
	font: 18px Arial, sans-serif;
	color: #333;
}

/* Main container styles */
.container {
	height: 100%;
	display: flex;
	flex-wrap: nowrap;
	align-content: center;
}

/* Cat's area styles */
.cats-area {
	width: 70%;
	align-self: center;
	margin: 5px;
}

.cat-placeholder {
	align-self: center;
}

/* Cat's container styles */
.cats-container {
	display: flex;
	flex-direction: column;
	width: 30%;
	align-content: center;
}

.cat-img {
	width: 65%;
	border: 1px solid black;
	border-radius: 28px;
	box-shadow: 3px 6px 10px 3px grey;
}

.counter {
	color: #922;
}
